<div class="container-fluid">
    <div class="container">
        <div class="text-center border border-light p-5" >

        <p class="h4 mb-4">Booking details</p>
        
        </div>
        <table class="table"  >
            <tr>
                <th scope="col">First Name</th>
                <td> {{customerService.custData.firstName | json}}    </td>
            </tr>
            <tr>
                <th scope="col">Last Name</th>
                <td> {{customerService.custData.lastName | json}}    </td>
            </tr>
            
            <tr>
                <th scope=col>Email</th>
                <td> {{customerService.custData.emailId | json}}     </td>
            </tr>
          
            <tr>
                <th scope="col">Arrival Date</th>
                <td>   {{customerService.bookingData.arrivalDate | json}}   </td>
            </tr>
            <tr>
                <th scope="col">Departure Date</th>
                <td>    {{customerService.bookingData.departureDate | json}}  </td>
            </tr>
            <tr>
                <th scope="col">City</th>
                <td>     {{customerService.bookingData.hotelName | json}} </td>
            </tr>
            <tr>
                <th scope="col">Room type</th>
                <td>   {{customerService.bookingData.roomType | json}}   </td>
            </tr>
        </table>
        
    </div>
</div>

<!-- 

    arrivalDate:string;
    departureDate:string ;
    hotelName:string;
    roomType:string;
    nop:string;
    aadhar:string;
    price:DoubleRange;
    paymentStatus:string;
-->