<div class="container-fluid">
  <div class="container col-lg-6">
    <h1 class="text-center">Login</h1>
    <div class="card">
      <div class="card-body">
        <form class="form-group">
          <div id="buttonDiv">
            <button type="button" class="btn btn-outline-dark" [routerLink]="['/admin-login']">Admin</button>
            <button type="button" class="btn btn-outline-dark" [routerLink]="['/booking-login']">Booking Manager</button>
          </div>
        </form>
      </div>
    </div>
  </div> 
</div>

