<div class="container-fluid">
    <div class="container">

        <form class="text-center border border-light p-5">
        
            <p class="h4 mb-4">Customer Details</p>
          
            <div class="row">
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" id="first_name" placeholder="First Name" required>
                <div class="invalid-feedback">
                  First Name is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" id="last_name" placeholder="Last Name" required>
                <div class="invalid-feedback">
                  Last Name is required
                </div>
              </div>
            </div>

            <input type="text" id="Email" class="form-control mb-4" placeholder="email">

            <input type="text" id="Contact" class="form-control mb-4" placeholder="Mobile number">

            <input type="text" id="Age" class="form-control mb-4" placeholder="Age">


          

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                  <option value="3">Others</option>
                </select>
              </div>
              

            <input type="text" id="Address" class="form-control mb-4" placeholder="Address">

            <a class="btn btn-primary btn-block" [routerLink]="['/booking']">Save And Proceed</a>
        </form>
    </div>
</div>
