.container{
    /* margin-top: 8%; */
    width: 50%;  
    background-color: white; 
}
.container-fluid{
    padding:9% ;
    background-color: rgb(117, 255, 202);;
}
.btn-squared-default
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 10px;
    }
.btn-outline-secondary
    {
        width: 100px;
        height :100 px;
    }
